{% comment %} {% render 'track.html' %} {% endcomment %}
{% render './ui/dist/index.html' %}

{% comment %} <div>
    <p>Content from liquid page</p>
    {% if true %}
        Hello World!
    {% endif %}    
</div> {% endcomment %}