{% comment %} {% render 'track.html' %} {% endcomment %}

<div>
    {% if true %} Hello World! from liquid {% endif %}
</div>

{% render './ui/dist/index.html' %}

{% comment %} <div>
    <p>Content from liquid page</p>
    {% if true %}
        Hello World!
    {% endif %}    
</div> {% endcomment %}